<!DOCTYPE html>
<html>

<head>
  <!-- <base href="/"> -->
  <meta name="name" content="content">
  <meta charset="utf-8">
  <title>sna_lab</title>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="./node_modules/materialize-css/dist/css/materialize.min.css" media="screen,projection" />
  <link rel="stylesheet" type="text/css" href="main.css">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <!-- navbar -->
  <div class="navbar-fixed">
    <nav class="blue darken-4" style="height: 64px;">
      <div class="nav-wrapper">
        <div class="row">
          <div class="col s12 m5 hide-on-med-and-down" style="height:64px;">
            <div class="input-field">
              <div class="row">
                <div class="col m1">
                  <a href="#">
                    <i class="material-icons">android</i>
                  </a>
                </div>
                <div class="col s12 m11">
                  <form>
                    <input placeholder="Search" id="search" type="search" class="validate" style="padding-left: 4px; margin-top:18px; height: 30px;">
                    <label class="label-icon" for="search">
                    </label>
                    <i class="material-icons" style="color:white;">search</i>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col m4 hide-on-med-and-down">
          </div>
          <div class="col s12 m3">
            <ul>
              <li class="nav-icon"><a href="#">伯新</a></li>
              <li class="nav-icon">
                <a href="#">
                  <i class="material-icons">group</i>
                </a>
              </li>
              <li class="nav-icon">
                <a href="#">
                  <i class="material-icons">message</i>
                </a>
              </li>
              <li class="nav-icon">
                <a href="#">
                  <i class="material-icons">notifications</i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div id="sna_app" style="background: #ECEFF1">
<!--    <div style="padding:10px;">
  </div>
 --><!--     <router-link to="/foo">Go to Foo</router-link>
    <router-link to="/bar">Go to Bar</router-link>
    <router-view></router-view>
 -->    <div class="row" style="padding-top: 20px;">
      <div class="col m1">
      </div>
      <div class="col s12 m6">
        <template v-for="(card, index) in foodCards" class="row">
          <div class="col s12">
            <div class="card">
              <div class="card-image">
                <img :src="card.img">
                <span class="card-title">{{card.title}}</span>
              </div>
              <div class="card-content">
                <p>{{card.content}}</p>
              </div>
              <div class="card-action">
                <template v-if="card.unliked">
                  <a v-on:click="card.unliked = false">Like<a>
                </template>
                 <a v-else v-on:click="like(index)" >Unlike</a>
                <a>Comment</a>
              </div>
            </div>
          </div>
        </template>
      </div>
      <div class="col m4 hide-on-med-and-down">
        <div class="row">
          <div class="col s12">
            <div class="card" style="padding: 10px 0;">
              <div class="card-content">
                <span class="card-title">Food Maker</span>
              </div>
              <div class="row">
                <div v-for="person in people" class="col s4">
                  <img class="circle responsive-img center" :src="person.img">
                  <span class="center">{{person.name}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col m1">
      </div>
    </div>
  </div>
  <script src="./node_modules/jquery/dist/jquery.min.js"></script>
  <script src="./node_modules/vue/dist/vue.min.js"></script>
  <script src="./node_modules/vue-router/dist/vue-router.min.js"></script>
  <script type="text/javascript" src="./node_modules/materialize-css/dist/js/materialize.min.js"></script>
  <script src="./main.js"></script>
</body>

</html>
