a{
    cursor: pointer;
}

img {
    max-width: 100%;
    height:auto;
}

.center {
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .nav-icon {
        width: 25%;
        text-align: center;
        line-height: 64px;
    }
    nav ul a {
        height: 64px;
    }
    nav i.material-icons {
        height: 64px;
        line-height: 64px;
    }
}
